/* Fonts
-------------------------------------------------- */

@font-face

{
    font-family: Adam;
    src: url(../fonts/ADAM.otf);
}
@font-face

{
    font-family: Tracion;
    src: url(../fonts/QuireSansPro-ExtraLight.otf);
}
@font-face

{
    font-family: Brandon;
    src: url(../fonts/brandon_light-webfont-3ee4c22dbc88a017b93999e685aca8bf.woff);
}
/* Body and structure
-------------------------------------------------- */

body {
    position: relative;
    background: url(../images/bg_body-noise.png);
}
h2,
h3,
h4,
h5,
h6 {
    font-family: Tracion;
    font-weight: bolder;
}
.tpad {
    margin-top: 1em;
}
.tmarg {
    margin-top: 1em;
}
.viewport-navbar-correction {
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
a.no-dec {
    color: #313540;
}
a.no-dec:hover {
    text-decoration: none;
}
a.no-dec:active {
    text-decoration: none;
}
/* Navbar
-------------------------------------------------- */

.navbar-inverse {
    color: #fff;
    background-image: none;
    background-color: #313540;
    border-color: #313540;
}
.navbar-brand {
    font-family: Adam;
    color: #fff !important;
}
.brand-color1 {
    font-weight: bolder;
    color: #4AE9FF;
}
.red-text {
    color: #E9405A;
}
.yellow-text {
    color: #FCDF15;
}
#social-buttons span {
    margin-left: 1em;
}
/* Faded out hr */

hr.soften {
    height: 1px;
    margin: 60px 0;
    background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    border: 0;
}
hr.soften1 {
    height: 1px;
    margin: 60px 0;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    border: 0;
}
.copyhr {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
    margin-bottom: 40px !important;
}
/* Home Jumbotron
-------------------------------------------------- */

.home-jumbo {
    width: 100%;
    color: #313540;
    background-color: #FCDF15;
    /*background-color: #E9405A;*/
    margin-bottom: 0;
    padding-bottom: 0;
}
.home-jumbo h1 {
    margin-top: 150px;
    margin-bottom: 60px;
    font-family: Adam;
    line-height: 1.2em;
    font-size: 5em;
}
.home-jumbo p {
    margin-bottom: 80px;
    font-family: Tracion;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.1em;
}
.home-jumbo p.inst {
    margin-bottom: 0;
    padding-bottom: 7px;
    font-size: 0.9em;
    font-family: Brandon;
}
#down-arrow {
    height: 50px;
}
.down-arrow-img {
    background-color: #FCDF15;
}
/* Masthead jumbotrons
-------------------------------------------------- */

.masthead {
    background: url("../images/home-banner-bg.jpg") bottom center no-repeat fixed;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    padding: 40px 0 80px;
    margin-bottom: 0;
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}
.masthead h1 {
    font-size: 4em;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: 1.1em;
    margin: 60px 0;
    text-shadow: 0 1px 4px #000000;
}
.masthead h2 {
    font-weight: bold;
    text-shadow: 0 1px 4px #000000;
}
.masthead p {
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.4em;
    margin-bottom: 60px;
}
/* Custom Button */

.masthead .bigbtn {
    -webkit-box-shadow: inset 0 1px 0 #ffd265, 0 0 0 1px #912e01, 0 0 0 07px rgba(0, 0, 0, .1), 0 1px 4px rgba(0, 0, 0, .6);
    box-shadow: inset 0 1px 0 #ffd265, 0 0 0 1px #912e01, 0 0 0 07px rgba(0, 0, 0, .1), 0 1px 4px rgba(0, 0, 0, .6);
}
.bigbtn {
    color: #fff;
    text-shadow: 0 1px 0 #912e01;
    background-color: #d8c431;
    text-decoration: none;
    text-transform: uppercase;
    padding: .3em 1.4em;
    -o-border-radius: 2.8em;
    border-radius: 2.8em;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1%, rgb(255, 96, 43)), to(rgb(255, 148, 67)));
    background-image: linear-gradient(bottom, rgb(255, 96, 43) 1%, rgb(255, 148, 67) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 96, 43) 1%, rgb(255, 148, 67) 100%);
    font-weight: 700;
    font-style: normal;
    overflow: visible;
    border: none;
    font-size: 1.714285714285714em;
}
.bigbtn:hover {
    color: #fff;
    text-decoration: none;
    background-color: #ff831e;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1%, rgb(255, 148, 67)), to(rgb(255, 96, 43)));
    background-image: linear-gradient(bottom, rgb(255, 148, 67) 1%, rgb(255, 96, 43) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 148, 67) 1%, rgb(255, 96, 43) 100%);
}
.bigbtn:active {
    color: #fff;
    text-decoration: none;
    background-color: #ff831e;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(1%, rgb(255, 148, 67)), to(rgb(255, 96, 43)));
    background-image: linear-gradient(bottom, rgb(255, 148, 67) 1%, rgb(255, 96, 43) 100%);
    background-image: -webkit-linear-gradient(bottom, rgb(255, 148, 67) 1%, rgb(255, 96, 43) 100%);
}
/* Marketing section
-------------------------------------------------- */

.marketing {
    color: #313540;
}
.marketing h1 {
    font-size: 4.285714285714286em;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
}
.marketing h2 {
    color: #313540;
}
.marketing p {
    font-size: 1.142857142857143em;
    color: #313540;
}
.marketing .marketing-byline {
    margin-bottom: 40px;
    font-size: 2.0em;
    font-weight: 30.0em;
    line-height: 25px;
    color: #999;
}
.bordertop {
    border-top: 1px solid #EEE;
    margin-top: 20px;
    padding-top: 20px;
}
.tech-spec-img {
    max-height: 250px;
}
#sf-logo {
    padding: 0 3em 0 0;
}
#veeva-logo {
    padding-top: 2em;
}
#heroku-logo {
    padding-top: 1em;
}
/* Tiles
-------------------------------------------------- */

.tile {
    cursor: pointer;
    padding: 1em;
    border-radius: 1.2em;
}
div.tile:hover {
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .3), 0 -10px 30px rgba(0, 0, 0, .3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3), 0 -10px 30px rgba(0, 0, 0, .3);
}
.pink-tile:hover {
    background-color: #E9405A;
}
.blue-tile:hover span.firstword {
    border-bottom: 2px solid #E9405A;
}
.blue-tile:hover {
    background-color: #4AE9FF;
}
.cream-tile:hover {
    background-color: #FFE6B0;
}
div.blue-thumbnail {
    cursor: pointer;
    margin: 1em;
    border-radius: 1.8em;
    background-color: #4AE9FF;
}
div.blue-thumbnail:hover {
    background-color: #E9405A;
    -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, .3), 0 -10px 30px rgba(0, 0, 0, .3);
    box-shadow: 0 10px 30px rgba(0, 0, 0, .3), 0 -10px 30px rgba(0, 0, 0, .3);
}
.tilt {
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.tilt:hover {
    -webkit-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    -webkit-box-shadow: 0 0 40px rgba(255, 255, 255, .6), inset 0 0 40px rgba(255, 255, 255, 1);
    box-shadow: 0 0 40px rgba(255, 255, 255, .6), inset 0 0 40px rgba(255, 255, 255, 1);
}
span.firstword {
    border-bottom: 2px solid #4AE9FF;
}

/* Footer
-------------------------------------------------- */

footer {
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #313540;
    padding: 35px 0 10px 0;
}
footer h2,
footer h3,
footer h4 {
    color: #FFF;
    font-weight: normal;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-links li {
    line-height: 32px;
    font-size: 0.8571428571428571em;
    border-bottom: 1px solid #E9405A;
}
footer a {
    color: #4AE9FF;
}
footer a:hover {
    color: #E9405A;
    text-decoration: none;
}
footer p {
    color: #FFF;
}
.footer-social-icons span {
    margin: 0.15em;
    padding: 0.3em;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 1em;
}
#linkedin-icon-footer {
    color: #313540;
}
.footer-social-icons #linkedin-icon-footer span:hover {
    background-color: #007bb6;
}
#googleplus-icon-footer {
    color: #313540;
}
.footer-social-icons #googleplus-icon-footer span:hover {
    background-color: #dd4b39;
}
#twitter-icon-footer {
    color: #313540;
}
.footer-social-icons #twitter-icon-footer span:hover {
    background-color: #00aced;
}
#facebook-icon-footer {
    color: #313540;
}
.footer-social-icons #facebook-icon-footer span {
    border-radius: 8em !important;
}
.footer-social-icons #facebook-icon-footer span:hover {
    background-color: #3b5998;
}
#github-icon-footer {
    color: #D9D9D9;
}
.footer-social-icons #github-icon-footer span:hover {
    background-color: #333;
}
#stumble-icon-footer {
    color: #313540;
}
.footer-social-icons #stumble-icon-footer span:hover {
    background-color: #EB4823;
}
footer .copyright {
    border-bottom: 0px;
    font-size: 0.8em;
}
/* Services Jumbotrons
-------------------------------------------------- */

#services-jumbo {
    color: #313540;
    -webkit-box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
    box-shadow: inset 0 3px 7px rgba(0, 0, 0, .2), inset 0 -3px 7px rgba(0, 0, 0, .2);
}
#services-jumbo h1 {
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
    font-weight: bold;
    margin-top: 50px;
}
#services-jumbo p {
    font-size: 1.4em;
    font-weight: normal;
    line-height: 1.4em;
    margin-bottom: 60px;
}
.pink-jumbo {
    background-color: #E9405A;
}
.blue-jumbo {
    background-color: #4AE9FF
}
.hiddenAnime {
    opacity: 0;
}
.visibleAnime {
    opacity: 1;
}

/* Services Pages
-------------------------------------------------- */

.list {
    padding-left: 2em;
}
.list span {
    margin-right: 1em;
}
#page_heading {
    padding-top: 50px;
}
.button-padding {
    margin-bottom: 60px;
}
#partner h2 {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-bottom: 40px;
    line-height: 40px;
    color: #999;
}
/* About Us
-------------------------------------------------- */

.aboutUsDP {
    max-height: 18em;
    max-width: 18em;
}
.social-icons span {
    margin: 0.15em;
    font-size: 2em;
}
#linkedin-icon {
    color: #007bb6;
}
#googleplus-icon {
    color: #dd4b39;
}
#twitter-icon {
    color: #00aced;
}
#facebook-icon {
    color: #3b5998;
}
#github-icon {
    color: #333;
}
#stumble-icon {
    color: #EB4823;
}
/* Profile
-------------------------------------------------- */

#profile-jumbo h2 {
    font-size: 2.5em;
    letter-spacing: -1px;
}
#profile-jumbo p {
    font-size: 1.1em;
}
address a {
    color: #333;
}
address a:hover {
    text-decoration: none;
}
address a:active {
    text-decoration: none;
}
#myTab a {
    color: #E74C3C;
    font-size: 1.3em;
}
/* Responsive
-------------------------------------------------- */

/* Tablet to desktop
------------------------- */

@media (min-width: 768px) and (max-width: 980px) {
    .masthead h1 {
        font-size: 3em;
    }
    .masthead p,
    .bigbtn {
        font-size: 1.285714285714286em;
        /*18px*/
    }
    .home-jumbo h1 {
        margin-top: 75px;
        font-size: 3em;
        margin-bottom: 60px;
    }
    .home-jumbo p {
        font-size: 0.9em;
        margin-bottom: 50px;
    }
    #services-jumbo h1 {
        font-size: 3em;
    }
    #services-jumbo p {
        font-size: 1.285714285714286em;
    }
    #profile-jumbo h2 {
        font-size: 2em;
    }
    #profile-jumbo p {
        font-size: 1em;
    }
}
/* Tablet
------------------------- */

@media (max-width: 767px) {
    /* Widen masthead and social buttons to fill body padding */
    .masthead {
        padding: 40px 0;
    }
    .masthead h1 {
        font-size: 2.5em;
    }
    .masthead p,
    .bigbtn {
        font-size: 1.142857142857143em;
    }
    .home-jumbo h1,
    #services-jumbo h1 {
        margin-top: 50px;
        margin-bottom: 40px;
        font-size: 2.5em;
    }
    .home-jumbo p {
        padding-top: 5px;
        font-size: 0.7em;
        margin-bottom: 10px;
    }
    #services-jumbo p {
        font-size: 1.142857142857143em;
    }
    #profile-jumbo {
        padding: 40px 0;
    }
    #profile-jumbo h2 {
        font-size: 1.8em;
    }
    #profile-jumbo p {
        font-size: 0.98em;
    }
    .tile {
        padding: 0.2em;
    }
}
/*Landscape phones*/

@media(max-width: 480px) {
    .masthead h1 {
        font-size: 2em;
    }
    .masthead p,
    .bigbtn {
        font-size: 1em;
    }
    #services-jumbo h1,
    #services-jumbo h1 {
        font-size: 2em;
    }
    #services-jumbo p {
        font-size: 1em;
    }
    .marketing h1 {
        font-size: 2.857142857142857em;
    }
    .marketing h2 {
        font-size: 1.9em;
    }
    .marketing p {
        font-size: 1em;
    }
    .marketing-byline {
        font-size: 1.428571428571429em !important;
    }
    #profile-jumbo h2 {
        font-size: 1.6em;
    }
}