/* Body and structure
-------------------------------------------------- */

body {
    color: #313540;
}
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Hind', sans-serif;
    font-weight: bolder;
}
p {
    font-family: 'Ek Mukta', sans-serif;
}
.custom-container
/*Clear screen edges*/

{
    margin-right: 1em;
    margin-left: 1em;
}
.tpad {
    margin-top: 0.1em;
}
.tmarg {
    margin-top: 2%;
}
.viewport-navbar-correction {
    padding-top: 50px;
    margin-top: -50px;
    -webkit-background-clip: content-box;
    background-clip: content-box;
}
a.no-dec {
    color: #313540;
}
a.no-dec:hover {
    text-decoration: none;
}
a.no-dec:active {
    text-decoration: none;
}
/* Navbar
-------------------------------------------------- */

.navbar-inverse {
    background-image: none;
    background-color: #313540;
    border-color: #313540;
}
.text-logo {
    font-family: 'Kalam', cursive;
}
.brand-color1 {
    font-weight: bolder;
    color: #4AE9FF;
}
.red-text {
    color: #E9405A;
}

hr.soften1 {
    height: 1px;
    margin: 60px 0;
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .1), rgba(255, 255, 255, 0));
    border: 0;
}
.copyhr {
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, .8), rgba(255, 255, 255, 0));
    margin-bottom: 40px !important;
}
/* Home Jumbotron
-------------------------------------------------- */

.home-jumbo {
    width: 100%;
    color: #313540;
    background-color: #FCDF15;
    padding-bottom: 0;
    margin-bottom: 4%;
}
.home-jumbo h1 {
    margin-top: 150px;
    margin-bottom: 120px;
    font-family: 'Hind', sans-serif;
    line-height: 1.2em;
    font-size: 5em;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
.home-jumbo h2 {
    margin-top: 1.5em;
    padding-bottom: 1em;
    font-weight: normal;
    line-height: 1.2em;
}
.home-jumbo p {
    margin-bottom: 50px;
    font-family: 'Ek Mukta', sans-serif;
    font-size: 1.1em;
}

h2.down-arrow {
    padding-bottom: 2%;
    font-weight: normal;
}

/* Tiles
-------------------------------------------------- */

.tile {
    cursor: pointer;
    margin: 2%;
    padding: 3%;
    border-radius: 1.8em;
}
.tile-blue {
    background-color: #4AE9FF;
}
.tile-inactive {
    background-color: #F0F0F0;
}

/* Animations
-------------------------------------------------- */

.hiddenAnime {
    opacity: 0;
}
.visibleAnime {
    opacity: 1;
}
/* Float */

.float {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.float:hover,
.float:focus,
.float:active {
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
}
/* Glow */

.glow {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: -webkit-box-shadow;
    transition-property: box-shadow;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.glow:hover,
.glow:focus,
.glow:active {
    -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.6);
}
/* Hang */

@-webkit-keyframes hang {
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
@keyframes hang {
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    100% {
        -webkit-transform: translateY(6px);
        transform: translateY(6px);
    }
}
.hang {
    display: inline-block;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hang:hover,
.hang:focus,
.hang:active {
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
    -webkit-animation-name: hang;
    animation-name: hang;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

/* Footer
-------------------------------------------------- */

footer {
    margin-top: 2em;
    border-top: 1px solid #e5e5e5;
    background-color: #313540;
    padding: 35px 0 10px 0;
}
footer h2,
footer h3,
footer h4 {
    color: #FFF;
    font-weight: normal;
}
footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.footer-links li {
    line-height: 32px;
    font-size: 0.8571428571428571em;
    border-bottom: 1px solid #E9405A;
}
footer a {
    color: #4AE9FF;
}
footer a:hover {
    color: #E9405A;
    text-decoration: none;
}
footer p {
    color: #FFF;
}

footer .copyright {
    border-bottom: 0px;
    font-size: 0.8em;
}
/* Services
-------------------------------------------------- */

#cctypo {
    padding-top: 4%;
    padding-bottom: 2%;
}
.tile h1 {
    font-size: 4.285714285714286em;
}
p.icon-tile {
    font-size: 1.142857142857143em;
}
#other-interest {
    margin-top: 1em;
    border-radius: 1.8em;
}
/* Contact Form
--------------------------------------------------*/

#contactForm p {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Why Us Page
-------------------------------------------------- */

.why-jumbo {
    color: #313540;
    background-color: #FCDF15;
    margin-bottom: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}
.why-jumbo h1 {
    margin-top: 50px;
    font-family: 'Hind', sans-serif;
    font-size: 5em;
}
.grey-bg {
    background-color: #F0F0F0;
    padding-top: 2%;
    padding-bottom: 1%;
    margin-bottom: 2%;
}
.bordertop {
    border-top: 1px solid #EEE;
    margin-top: 20px;
    padding-top: 20px;
}
span.firstword {
    border-bottom: 2px solid #E9405A;
}
#tech-spec div.row {
    margin: 2em 0;
}
#veeva-logo {
    padding-left: 3em;
    padding-right: 3em;
}
#heroku-logo {
    padding-left: 2em;
    padding-right: 2em;
}
#wp-logo {
    padding-top: 2em;
}

/* Responsive
-------------------------------------------------- */

/* Tablet to desktop
------------------------- */

@media (min-width: 768px) and (max-width: 980px) {
    .home-jumbo h1 {
        margin-top: 75px;
        font-size: 3em;
        margin-bottom: 60px;
    }
    .home-jumbo h2 {
        font-size: 1.6em;
    }
    .home-jumbo p {
        font-size: 0.9em;
        margin-bottom: 50px;
    }
}
/* Tablet
------------------------- */

@media (max-width: 767px) {
    .tpad {
        margin-top: 2em;
    }
    .custom-container {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }
    .home-jumbo h1,
    {
        margin-top: 45px;
        margin-bottom: 20px;
        font-size: 3em;
    }
    .home-jumbo h2 {
        font-size: 1.5em;
    }
    .home-jumbo p {
        padding-top: 5px;
        font-size: 0.9em;
        margin-bottom: 10px;
    }
    #e-commerce-tile {
        text-align: center;
    }
}
/*Landscape phones*/

@media(max-width: 480px) {
    .tpad {
        margin-top: 1em;
    }
    .home-jumbo h2 {
        margin-top: 17%;
        font-size: 1.3em;
        line-height: 1.2em;
    }
    .tile h1 {
        font-size: 2.857142857142857em;
    }
    p.icon-tile {
        font-size: 1em;
    }
    .why-jumbo h1 {
        font-size: 3em;
    }
    #veeva-logo {
        padding-left: 1em;
        padding-right: 1em;
    }
    #heroku-logo {
        padding-left: 1em;
        padding-right: 1em;
    }
    #wp-logo {
        padding-top: 1.5em;
    }
}